---
// 在此导入 global.css 文件，使其通过 <BaseHead /> 组件包含在所有页面中。
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
	ogType?: string;
}

const base = import.meta.env.BASE_URL;
const { title, description, image = `${base}social_img.webp`, ogType = 'website' } = Astro.props;
---

<!-- 全局元数据 -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={`${base}favicon.svg`} />
<meta name="generator" content={Astro.generator} />

<!-- 主要元标签 -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- 开放图谱 / Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
